<br />
<h3 style="text-align:center">صفحة الادمن</h3>
<br />
<div class="row" style="justify-content:space-evenly">
    <a class="btn btn-secondary btn-lg col-md-3" asp-action="RidesList">الرايدات</a>
    <a class="btn btn-secondary btn-lg col-md-3" asp-action="AddRide">البايكرز</a>
    <a class="btn btn-secondary btn-lg col-md-3" asp-action="AddRide">الحضور</a>
</div>
